<section class="inside">
    <h1>Espace Admin</h1>
    <%= link_to "Créer une annonce",new_admin_annonce_path(params[:id]), class:"btn white" %>
    <p></p><%= current_admin.email %></p>
</section>
<section class="inside">

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Ville</th>
            <th>Vues</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <% @annonces.each do |annonce|%>
            <tr>
                <td><%= annonce.titre %></td>
                <td><%= annonce.price %></td>
                <td><%= annonce.city %></td>
                <td><%= @vues.where_props(title: annonce.titre).count %></td>
                <td>Voir Editer</td>
            </tr>
        <%end%>
    </tbody>
</table>
</section>