<section class="inside">
    <h1>Espace Admin</h1>
    <%= link_to "Créer une annonce immobiliere",new_admin_annonce_path(params[:id]), class:"btn white" %>
    <%= link_to "Créer une annonce de location","", class:"btn white" %>
    <p></p><%= current_admin.email %></p>
</section>
<section class="inside">

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Bien</th>
            <th>Ville</th>
            <th>Vues</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <% @annonces.each do |annonce|%>
            <tr>
                <td><%= annonce.titre %></td>
                <td><%= annonce.price %></td>
                <td><%= annonce.type_bien %></td>
                <td><%= annonce.city %></td>
                <td><%= @vues.where_props(annonce_id: annonce.id).count %></td>
                <td>Voir 
                <%= link_to "Editer",edit_admin_annonce_path(current_admin,annonce)%>
                <%= link_to "Supprimer",
                    admin_annonce_path(current_admin,annonce),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %></td>
            </tr>
        <%end%>
    </tbody>
</table>
</section>