<div class="card_annonce">
    <div class="card_img">
        <div class="card_header_float"><span class="annonce_statut">À VENDRE</span><span>Favoris</span></div>
        <span class="card_type"><%= annonce.type_bien.capitalize if annonce.type_bien.present? %></span>
        <%= image_tag annonce.photos[0] if !annonce.photos[0].nil? %>
    </div>
    <div class="card_desc">
        <div class="card_flex">
            <h2><%= annonce.titre %></h2>
            <p class="card_price"><%= humanized_money annonce.price %> <%= currency_symbol %></p>
        </div>
        <div class="card_flex grey">
            <p class="card_localisation"><%= image_tag "pictos/terracotta/localisation.png", class: "",width: "20px", height: "20px" %> <%= annonce.zipcode %> <%= annonce.city %></p>
            <p><%= humanized_money annonce.price_metre %> €/m<sup>2</sup></p>
        </div>
        <div class="card_flex last">
            <p><%= image_tag "pictos/terracotta/surface.png", class: "",width: "20px", height: "20px" %><%= annonce.surface.to_i %>m<sup>2</sup></p>
            <p><%= image_tag "pictos/terracotta/pieces.png", class: "",width: "20px", height: "20px" %><%= annonce.nb_pieces %> pièces</p>
            <p><%= image_tag "pictos/terracotta/chambres.png", class: "",width: "20px", height: "20px" %><%= annonce.nb_chambres %> ch.</p>
        </div>
    </div>
</div>