<div class="card_annonce">
    <div class="card_img">
        <span class="card_type"><%= annonce.type_bien.capitalize if annonce.type_bien.present? %></span>
        <%= image_tag annonce.photos[0] if !annonce.photos[0].nil? %>
    </div>
    <div class="card_desc">
        <div class="card_flex">
            <h2><%= annonce.titre %></h2>
            <p><%= annonce.price %></p>
        </div>
        <div class="card_flex grey">
            <p><%= annonce.zipcode %> <%= annonce.city %></p>
            <p>1280€/m<sup>2</sup></p>
        </div>
        <div class="card_flex">
            <p><%= annonce.surface.to_i %>m<sup>2</sup></p>
            <p>6 pièces</p>
            <p>3 chambres</p>
        </div>
    </div>
</div>