

<div class="achat_index">
    <section class="inside">
        <h1 data-address="<%= @address %>">Annonces immobilières</h1>
        <%= link_to "Strasbourg", strasbourg_path() %>
        <%= simple_form_for :query, :url => annonces_path, method: :get do |f| %>
            <%= f.input :address,
                    input_html: {data: {address_autocomplete_target: "address"}},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]},class: "d-none"} 
                %>
            <%= f.submit "Rechercher", class: "btn btn-primary" %> 
        <% end %>
        <div data-controller="filters">
            <ul class="filtre_tags">
                <%= simple_form_for :annonces_filtres,class:"form_filters" ,url: rent_filter_path,data:{filters_target: "category_form"} do |f| %>
                    <div class="visible_filters">
                        <% if @type_bien == "maison" || @type_bien == "all" || @type_bien == nil %>
                            <div class="filtre_btn filter_actif peche">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :maison, as: :boolean,label:"Maisons", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>
                        <% else %>
                            <div class="filtre_btn peche">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :maison, as: :boolean,label:"Maisons", input_html: { data: {action: "change->filters#checkedSelect"},:checked => false } %>
                                </div>
                            </div>
                        <% end %>

                        <% if @type_bien == "appartement" || @type_bien == "all" || @type_bien == nil %>
                            <div class="filtre_btn filter_actif yellow">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :appartement, as: :boolean,label:"Appartements", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>

                        <% else %>

                            <div class="filtre_btn yellow">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :appartement, as: :boolean,label:"Appartements", input_html: { data: {action: "change->filters#checkedSelect"},:checked => false } %>
                                </div>
                            </div>

                        <% end %>

                        <% if @type_bien == "terrain" || @type_bien == "all" || @type_bien == nil %>
                            <div class="filtre_btn filter_actif green">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :terrain, as: :boolean,label:"Terrains", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>
                        
                        <% else %>

                            <div class="filtre_btn green">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :terrain, as: :boolean,label:"Terrains", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>

                        <% end %>

                        <% if @type_bien == "commerce" || @type_bien == "all" || @type_bien == nil %>
                            <div class="filtre_btn filter_actif dark-blue">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :commerce, as: :boolean,label:"Commerces", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>
                        <% else %>
                            <div class="filtre_btn dark-blue">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :commerce, as: :boolean,label:"Commerces", input_html: { data: {action: "change->filters#checkedSelect"},:checked => false } %>
                                </div>
                            </div>
                        <% end %>

                        <% if @type_bien == "immeuble" || @type_bien == "all" || @type_bien == nil %>
                            <div class="filtre_btn filter_actif grey">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :immeuble, as: :boolean,label:"Immeubles", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>
                        <% else %>
                            <div class="filtre_btn grey">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :immeuble, as: :boolean,label:"Immeubles", input_html: { data: {action: "change->filters#checkedSelect"},:checked => false } %>
                                </div>
                            </div>
                        <% end %>

                        <% if @type_bien == "parking" || @type_bien == "all" || @type_bien == nil %>
                            <div class="filtre_btn filter_actif purple">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :parking, as: :boolean,label:"Parking/Box", input_html: { data: {action: "change->filters#checkedSelect"},:checked => true } %>
                                </div>
                            </div>
                        <% else %>
                            <div class="filtre_btn purple">
                                <div>
                                    <span class="close_icon"><%= image_tag "pictos/circle-xmark-regular.svg"%></span>
                                    <%= f.input :parking, as: :boolean,label:"Parking/Box", input_html: { data: {action: "change->filters#checkedSelect"},:checked => false } %>
                                </div>
                            </div>
                        <% end %>

                        

                        
                    </div>
                    <div class="hidden_filters">
                        <%= f.input :min_price %>
                        <%= f.input :max_price %>
                        <%= f.input :min_surface %>
                        <%= f.input :balcon,as: :boolean,input_html: { data: {action: "change->filters#checkedSelect"}} %>
                        <%= f.input :terrasse,as: :boolean %>
                        <%= f.input :garage,as: :boolean %>
                        <%= f.input :jardin,as: :boolean %>
                        <%= f.input :ascenseur,as: :boolean %>
                        <%= f.input :min_dpe, collection:["A","B","C","D","E","F","G"] %>
                        <%= f.input :min_ges, collection:["A","B","C","D","E","F","G"] %>
                    </div>
                    <%= f.button :submit %>
                <% end %>

                <%= link_to rent_filter_path(type_bien:nil), data: {turbo_method: :post,filters_target: "category_filtre", action:"click->filters#moreOptions"},class:"filtre_btn white filter_actif" do %>
                        <div>
                            <span class="close_icon"><%= image_tag "pictos/circle-plus-solid.svg"%></span>
                            <span>Plus de critères</span>
                        </div>
                <% end %>
                <button onclick="filtersDialog.showModal();" class="filtre_btn white filter_actif">
                    <div>
                            <span class="close_icon"><%= image_tag "pictos/circle-plus-solid.svg"%></span>
                            <span>Plus de critères</span>
                        </div>
                </button>
            </ul>

        </div>
    </section>
    <div class="annonces_index">
    <section class="list_annonces">
        <ul class="new_annonces" id="annonces_list_index">
            <%= render partial: "achats/annonces", locals: {annonces: @annonces}%>
        </ul>
    </section>
    <section class="carte_fixed">
        <div id="map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </section> 
    </div>
</article>

<dialog id="filtersDialog">
            <p>Koor.fr Dialog demonstration</p>
            
            <form method="dialog">
                <button>Close the dialog</button>
            </form>
</dialog>
    