<section class="inside cover_landing">
    <%= image_tag @cover %>
    <h1>Toutes nosAnnonces immobilières</h1>
</section>
<section class="inside">
    <div class="filtres_annonces">
        <h2>Filtre annonces</h2>
        <ul>
            <li>Maisons</li>
            <li>Appartements</li>
            <li>Haut-Rhin</li>
            <li>Strasbourg</li>
        </ul>
    </div>
</section>
<section class="inside all_annonces">
    <ul class="list_annonces">
        <% 10.times do %>
            <% @annonces.each do |annonce| %>
                <li class="annonce_card">
                    <%= link_to achat_show_path(annonce) do %>
                        <div class="annonce_card_photo">
                            <%= image_tag annonce.photos[0] if !annonce.photos[0].nil?  %>
                            <span class="annonce_card_status">Exclusivité</span>
                            <span class="annonce_card__nbr_photos">1/<%= annonce.photos.size%></span>
                        </div>
                        <div class="annonce_card_desc">
                            <h3><%= annonce.titre %></h3>
                            <h4><%= annonce.city %> - <%= annonce.zipcode %></h4>
                            <ul class="annonce_card_composants">
                                <li><%= annonce.type_bien %></li>
                                <li><%= annonce.surface %>m<sup>2</sup></li>
                            </ul>    
                        <div>    
                    <% end %>
                </li>
            <% end %>
        <% end %> 
    </ul>

    <div id="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</section>
<section class="inside">
    <ul>
        <li>Alsace</li>
        <li>Bas-Rhin</li>
        <li>Haut-Rhin</li>
        <li>Strasbourg</li>
    </ul>
</section>