

<article class="">
    <section class="inside">
        <h1>Annonces immobilieres</h1>
        <ul class="filtre_tags">
            <li class="raccourci_achat"><%= link_to "Maisons", maisons_path() %></li>
            <li class="raccourci_achat"><%= link_to "Appartements", appartements_path(), data: {turbo_method: :post} %></li>
            <li class="raccourci_achat"><%= link_to "Strasbourg", strasbourg_path() %></li>
        </ul>
    </section>
    <div class="annonces_index">
    <section class="list_annonces">
        <ul class="new_annonces" id="annonces_list_index">
            <%= render partial: "achats/annonces", locals: {annonces: @annonces}%>
        </ul>
    </section>
    <section class="carte_fixed">
        <div id="map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </section> 
    </div>
</article>
    