<section class="quartier_intro inside petite_france">
    <%= image_tag "quartiers/petite-france.png", width: 500, height:500;%>
    <h1>Petite France</h1>
    <div class="quartier_intro_text">
        <p>
            Le quartier de la <strong>Petite France</strong> offre un véritable voyage dans le temps, où chaque bâtisse raconte une histoire riche et fascinante. Les façades romantiques reflètent l'empreinte des siècles passés, tandis que les petits ponts enjambant les canaux ajoutent une touche de poésie à l'ensemble. La <strong>Petite France</strong> est un tableau vivant, une symphonie d'architecture et de nature, imprégnée de l'essence même de <strong>Strasbourg</strong>.
            <br><br>
            Les restaurants authentiques, les cafés pittoresques et les boutiques d'artisans locaux contribuent à l'ambiance conviviale de ce quartier, créant un véritable art de vivre.
        </p>
    </div>
</section>
<section class="inside">
    <ul class="list_annonces three new_annonces">
            <% @annonces.each do |annonce| %>
            <li>
            <%= link_to achat_show_path(annonce) do %>
            <%= render partial: "achats/annonce", locals: {annonce: annonce} %>
            <% end %>
            </li>
            <% end %>
    </ul>
   
</section>
<section class="inside map_quartier">
    <div id="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</section>
<section class="inside">
    <%= render "autres_quartiers", locals: { quartiers: @autres_quartiers} %>
</section>