<section class="quartier_intro inside petite_france">
    <div class="quartier_intro_mobile">
        <h1><%= image_tag @cover, width: 500, height:500,alt:"Achat & location d'appartements - quartier #{@quartier_name} - Strasbourg";%></h1>
        <h2 class="titre_quartier_show"><%= @quartier_name %></h1>
    </div>
    <div class="quartier_intro_text">
        <%= sanitize @quartier_text %>
    </div>
</section>
<section class="inside">
    <ul class="list_annonces three new_annonces">
            <% @annonces.each do |annonce| %>
            <li>
            <%= link_to achat_show_path(annonce) do %>
            <%= render partial: "achats/annonce", locals: {annonce: annonce} %>
            <% end %>
            </li>
            <% end %>
    </ul>
   
</section>
<section class="inside map_quartier">
    <div id="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</section>
<section class="inside">
    <%= render "autres_quartiers", locals: { quartiers: @autres_quartiers} %>
</section>