<article class="">
    <section class="inside">
        <h1>Annonces immobilieres Strasbourg</h1>
        <ul class="filtre_tags">
            <li class="raccourci_achat"><%= link_to "Petite France", petite_france_path() %></li>
            <li class="raccourci_achat"><%= link_to "test quartier", strasbourg_quartier_path("neunhoffen")%></li>
            <% @quartiers.keys.each do |quartier_name| %>
                <li class="raccourci_achat"><%= link_to quartier_name, strasbourg_quartier_path(quartier_name.downcase)%></li>
            <% end %>
        </ul>
    </section>
    <div class="annonces_index">
    <section class="list_annonces">
        <ul class="new_annonces">
            <% @annonces.each do |annonce| %>
            <li>
            <%= link_to achat_show_path(annonce) do %>
            <%= render partial: "achats/annonce", locals: {annonce: annonce} %>
            <% end %>
            </li>
            <% end %>
        </ul>
        <div>
            <ul>
                <li>Alsace</li>
                <li>Bas-Rhin</li>
                <li>Haut-Rhin</li>
                <li>Strasbourg</li>
            </ul>
        </div>
    </section>
    <section class="carte_fixed">
        <div id="map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </section> 
    </div>
</article>
    
