<section class="inside">
    <div class="annonce_show_photos" data-controller="annonce">
        <div class="cover">
            <% @annonce.photos.each do |photo| %>
                <%= image_tag photo, class: "cover-img", data: { annonce_target: "cover" } %>
            <% end %>
        </div>
        <ul class="carrousel_photos inside">
            <% @annonce.photos.each do |photo| %>
            <li class="carrousel_select" data-action="click->annonce#selectImg" data-annonce-target="image"><%= image_tag photo %></li>
            <% end %>
        </ul>
    </div>

</section>
<section class="inside">
    <div class="">
        <div class="annonce_entete">
            <h1 class="annonce_show_titre"><%= @annonce.titre %>|Titre</h1>
            <p><%= @annonce.surface.to_i %>m<sup>2</sup></p>
            <p><%= @annonce.price %>€</p>
        </div>
        <div class="ville">
            <p><%= @annonce.city %></p>
        </div>
        <div class="inside">
            <div class="energetique_barre dpe">
                <% ["a","b","c","d","e","f","g"].each do |letter| %>
                    <% if letter == @annonce.dpe.downcase %>
                        <span class="note <%= letter %> selected"><%= letter.capitalize %></span>
                    <% else %>
                        <span class="note <%= letter %>"><%= letter.capitalize %></span>
                    <% end %>
                <% end %>
            </div>
            <div class="energetique_barre ges">
                <% ["a","b","c","d","e","f","g"].each do |letter| %>
                    <% if letter == @annonce.ges.downcase %>
                        <span class="note <%= letter %> selected"><%= letter.capitalize %></span>
                    <% else %>
                        <span class="note <%= letter %>"><%= letter.capitalize %></span>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section class="inside">
    <h2 class="titre styling">Descriptif</h2>
    <p class="annonce_show_description"><%= @annonce.description %></p>
    <hr>
    <%= @annonce.attributes %>
    <div class="table_description_annonce">
        <div><p>Surface: <%= @annonce.surface %></p></div>
        <div><p>Nombre de pièces: <%= @annonce.nb_pieces %></p></div>
        <div><p>Nombre d'étages: <%= @annonce.nb_etage %></p></div>
        <div><p>Chauffage: <%= @annonce.chauffage %></p></div>
        <div><p>Mode de chauffage: <%= @annonce.chauffage_mode %></p></div>
        <div><p>Etat général: <%= @annonce.etat_general %></p></div>
        <div><p>Année de construction: <%= @annonce.annee_construction %></p></div>
        <div><p>Cave: <%= @annonce.cave %></p></div>
        <div><p>Ascenseur: <%= @annonce.ascenseur %></p></div>
        <div><p>Copropriété: <%= @annonce.copropriete %></p></div>
         <div><p>Cuisine équipée: <%= @annonce.cuisine_equipee %></p></div>
        <div><p>Jardin: <%= @annonce.jardin %></p></div>
        <div><p>Balcon: <%= @annonce.balcon %></p></div>
        <div><p>terrasse: <%= @annonce.terrasse %></p></div>
         <div><p>Garage: <%= @annonce.garage %></p></div>
    </div>
</section>
<section class="inside">
    <h2 class="titre styling">Diagnostic énergétique</h2>
</section>
<section class="inside">
    <div id="map"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</section>
<section class="inside">
    <h2 class="titre styling">Autres annonces dans le secteur</h2>
</section>