<footer id="footer">
    <div class="inside">
        <ul>
            <li><%= link_to "Mentions légales", mentions_path %></li>
            <li><%= link_to "Politique de confidentialité", confidentialite_path %></li>
            <li><%= link_to "Gestion des cookies", cookies_path %></li>
            <li><%= link_to "Plan du site", plan_site_path %></li>
        </ul>
        <div>
            
        </div>
        <%= link_to "https://www.immomann.com/" do %>
        <%= image_tag 'logo-blanc-immoman.png' %>
        <% end %>
    </div>
</footer>