<div class="inside">
<h1>Components</h1>
<form>
<input>
<textarea></textarea>
</form>

<a href='' class="btn black">Bouton noir</a>
<div class="list_dpe">
    <%= image_tag "pictos/dpe/a.svg", height:50 %> 
    <%= image_tag "pictos/dpe/b.svg", height:50 %> 
    <%= image_tag "pictos/dpe/c.svg", height:50 %> 
    <%= image_tag "pictos/dpe/d.svg", height:50 %> 
    <%= image_tag "pictos/dpe/e.svg", height:50 %> 
    <%= image_tag "pictos/dpe/f.svg", height:50 %> 
    <%= image_tag "pictos/dpe/g.svg", height:50 %>
</div>

<details class="collapse">
  <summary class="collapse_btn">Collapse</summary>
   <div class="content_text">
   <p>Text collapse</p>
   </div>
</details>

<div>
    <span class="tag_filtre yellow">Location</span>
    <span class="tag_filtre black">Achat</span>
</div>
<section class="test_grid">
<div class="card_annonce">
    <div class="card_img">
        <span class="card_type">Appartement</span>
        <img src="https://maison.20minutes.fr/wp-content/uploads/2022/07/1-un-combine-duplex-et-jardin-dhiver-pinterest-sophie-kannard.jpg">
    </div>
    <div class="card_desc">
        <div class="card_flex">
            <h2>Grand appartement</h2>
            <p>120 000€</p>
        </div>
        <div class="card_flex grey">
            <p>67000 Strasbourg</p>
            <p>1280€/m<sup>2</sup></p>
        </div>
        <div class="card_flex">
            <p>100m2</p>
            <p>6 pièces</p>
            <p>3 chambres</p>
        </div>
    </div>
</div>
<div class="card_annonce">
    <div class="card_img">
        <span class="card_type">Appartement</span>
        <img src="https://maison.20minutes.fr/wp-content/uploads/2022/07/1-un-combine-duplex-et-jardin-dhiver-pinterest-sophie-kannard.jpg">
    </div>
    <div class="card_desc">
        <div class="card_flex">
            <h2>Grand appartement</h2>
            <p>120 000€</p>
        </div>
        <div class="card_flex grey">
            <p>67000 Strasbourg</p>
            <p>1280€/m<sup>2</sup></p>
        </div>
        <div class="card_flex">
            <p>100m2</p>
            <p>6 pièces</p>
            <p>3 chambres</p>
        </div>
    </div>
</div>

</section>

</div>
<div class="inside">
    <div class="energetique_barre dpe">
        <span class="note a">A</span>
        <span class="note b">B</span>
        <span class="note c">C</span>
        <span class="note d">D</span>
        <span class="note e selected">E</span>
        <span class="note f">F</span>
        <span class="note g">G</span>
    </div>
    <div class="energetique_barre ges">
        <span class="note a">A</span>
        <span class="note b">B</span>
        <span class="note c selected">C</span>
        <span class="note d">D</span>
        <span class="note e">E</span>
        <span class="note f">F</span>
        <span class="note g">G</span>
    </div>
</div>
<div class="inside">

<a href="#" class="filtre_btn yellow">
    <div><span class="close_icon">x</span><span>Locations</span></div>
</a>
<a href="#">Ventes</a>
</div>
