<div class="inside">
<h1>Components</h1>
<form>
<input>
<textarea></textarea>
</form>

<a href='' class="btn black">Bouton noir</a>
<div class="list_dpe">
    <%= image_tag "pictos/dpe/a.svg", height:50 %> 
    <%= image_tag "pictos/dpe/b.svg", height:50 %> 
    <%= image_tag "pictos/dpe/c.svg", height:50 %> 
    <%= image_tag "pictos/dpe/d.svg", height:50 %> 
    <%= image_tag "pictos/dpe/e.svg", height:50 %> 
    <%= image_tag "pictos/dpe/f.svg", height:50 %> 
    <%= image_tag "pictos/dpe/g.svg", height:50 %>
</div>

<details class="collapse">
  <summary class="collapse_btn">Collapse</summary>
   <div class="content_text">
   <p>Text collapse</p>
   </div>
</details>


<div class="card_annonce">
    <img src="https://maison.20minutes.fr/wp-content/uploads/2022/07/1-un-combine-duplex-et-jardin-dhiver-pinterest-sophie-kannard.jpg">
    <div>
    <h2>titre annonce</h2>
    <p>strasbourg (quartier)</p>
    <p>67000</p>
    <p>petite description de l'annonce</p>
    <p>nbre m2</p>
    </div>
</div>


</div>