<section class="inside">
<h2>Pages#home</h2>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>SEARCH</h2>
<div>
    <%= form_with url: annonces_path, method: :get, class: "" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>

        
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
    
    <%= simple_form_for :query, :url => annonces_path, method: :get do |f| %>
        <%= f.input :action, collection:["Acheter","Louer","Location professionnelle","Achat Neuf","Achat Ancien"] %>
        <%= f.input :type_bien, collection:["Appartement","Maison","Commerce","Immeuble","Terrain","Parking/Box"] %>
        <%= f.input :nbre_pieces, collection:["1","2","3","4","5 et +"] %>
        <%= f.input :surface %>
        <%= f.input :budget_max %>
        <%= f.input :city %>
        <%= f.submit "Rechercher", name: "", class: "btn btn-primary" %>
    <% end %>
</div>
<ul>
<% AchatsController.action_methods.to_a.each do |lieu| %>
    <li><a href="/achat/strasbourg/<%= lieu %>"><%=lieu %></a></li>
<% end %>
</ul>

<section class="inside">
<h2>ça vaut le coupe d'oeil</h2>
</section>

<section>
<ul>
<% @annonces.each do |annonce| %>
    <li><%= link_to "annonce", achat_show_path(annonce) %></li>
<% end %>
</ul>
</section>