<article class="inside">
<h1>Ajouter une nouvelle annonce</h1>
<%= simple_form_for @annonce,:url => url_for(:action => 'create', :controller => 'annonces'), :method => 'post' do |f| %>
    <div class="grid columns_2">
    <%= f.input :titre,placeholder:"Titre de l'annonce" %>
    <%= f.input :ref_annonce,placeholder:"Ref. de l'annonce" %>
    </div>
    <div class="grid columns_4">
      <%= f.input :surface, placeholder:"Surface du bien" %>
      <%= f.input :type_bien, collection: Annonce::TYPE_BIEN, selected:0,label:"Type de bien" %>
      <%= f.input :nb_pieces, placeholder:"Nbre de pièces" %>
      <%= f.input :price,label:"Prix", placeholder:"Prix du bien" %>
    </div>
    
    <%= f.input :description,placeholder:"Description" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <div class="flex_input">
      <h3>Adresse</h3>
      <%= f.input :address,label:"Adresse",placeholder:"Adresse" %>
      <%= f.input :zipcode,label:"Code postal",placeholder:"Code postal" %>
      <%= f.input :city,label:"Ville/Commune",placeholder:"Ville/commune" %>
       <%= f.input :quartier,label:"Quartier de Strasbourg", collection:@quartiers %>
      <%= f.input :country, priority: [ "France" ] %>
    </div>
   
    <div>
      <h3>Energie - Performances énergétiques</h2>
      <div class="grid columns_4">
        <%= f.input :dpe, collection: Annonce::DPE, selected:0 %>
        <%= f.input :ges, collection: Annonce::GES, selected:0 %>
        <%= f.input :chauffage, collection: Annonce::CHAUFFAGE, selected:0 %>
        <%= f.input :chauffage_mode,collection: Annonce::TYPE_CHAUFFAGE, selected:0 %>
      </div>
    </div>
   
    <%= f.input :nb_etage %>
    <%= f.input :etat_general %>
    <%= f.input :annee_construction,as: :date, start_year: Date.today.year - 120,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:year]%>
    <h3>Options</h3>
    <div class="grid columns_4">
      <%= f.input :cave %>
      <%= f.input :ascenseur %>
      <%= f.input :copropriete %>
      <%= f.input :cuisine_equipee %>
      <%= f.input :jardin %>
      <%= f.input :balcon %>
      <%= f.input :terrasse %>
      <%= f.input :garage %>
    </div>
    <!-- [...] -->
    <%= f.submit "Créer l'annonce", class:"btn black" %>
  <% end %>
  </article>