<article class="inside">
<h1>Ajouter une nouvelle annonce</h1>
<%= simple_form_for @annonce,:url => url_for(:action => 'create', :controller => 'annonces'), :method => 'post' do |f| %>
    <%= f.input :titre %>
    <%= f.input :price %>
    <%= f.input :address %>
    <div class="flex_input">
      <%= f.input :zipcode %>
      <%= f.input :city %>
    </div>
    <%= f.input :country %>
    <%= f.input :quartier %>
    <%= f.input :surface %>
    <%= f.input :type_bien, collection: Annonce::TYPE_BIEN %>
    <%= f.input :dpe %>
    <%= f.input :ges %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <!-- [...] -->
    <%= f.submit %>
  <% end %>
  </article>